#footer .copyright {display: none;}
#header-box {display: none;}
#border-top .version {display: none;}
#content-box {border-left: 0px solid #FFFFFF; border-right: 0px solid #FFFFFF;}
div.m {border-left:0px solid #FFFFFF; border-right:0px solid #FFFFFF;}
#border-top .title {display: none;}
#s5_topmenu {display: none;}
#s5_footcopy {display: none;}
.s5_bblack_outter {border-left: 0px solid #FFFFFF; border-right: 0px solid #FFFFFF;}