      <!-- start #resources --> 
      <div class="resources">
        <h2>Resources</h2>
        <ul>
          <li><a href="http://www.inh2o.org/" target="_blank">Alliance of Indiana Rural Water</a></li>
          <li><a href="http://www.indianacounties.org/" target="_blank">Association of Indiana Counties</a></li>
          <li><a href="http://www.citiesandtowns.org/" target="_blank">Indiana Association of Cities and Towns</a></li>
          <li><a href="http://www.indianacountycommissioners.com/" target="_blank">Indiana Association of County Commissioners</a></li>
          <li><a href="http://www.iapss-in.org/" target="_blank">Indiana Association of Public School Superintendents</a></li>
          <li><a href="http://www.indiana-asbo.org/" target="_blank">Indiana Association of School Business Officials</a></li>
          <li><a href="http://www.ilmct.org/default.aspx" target="_blank">Indiana League of Municipal Clerks and Treasurers</a></li>
          <li><a href="http://www.imea.com/" target="_blank">Indiana Municipal Electric Association</a></li>
          <li><a href="http://www.indianaruralwater.org/" target="_blank">Indiana Rural Water Association</a></li>
          <li><a href="http://www.isba-ind.org/" target="_blank">Indiana School Boards Association</a></li>
          <li><a href="http://www.msbo.org/" target="_blank">Michigan Association of Business Officials</a></li>
          <li><a href="http://www.gomasa.org/" target="_blank">Michigan Association of School Administrators</a></li>
          <li><a href="http://www.matsupervisors.com/" target="_blank">Michigan Association of Township Supervisors</a></li>
          <li><a href="http://www.mml.org" target="_blank">Michigan Municipal League</a></li>
          <li><a href="http://www.michigantownships.org" target="_blank">Michigan Township Association</a></li>
        </ul>
      </div>
      <!-- end #resources --> 
