<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<title>{if embed:page_title}{embed:page_title} |{/if} Umbaugh</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
    		<meta name="description" content="" />
		<meta name="accessibility-statement" content="/accessibility/" />
        	<meta name="copyright" content="Copyright {current_time format="%Y"}, Umbaugh" />
        	<link rel="stylesheet" type="text/css" href="{stylesheet='styles/styles'}">
		<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/styles/screen_ie6.css"><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/styles/screen_ie7.css"><![endif]-->
		<!--[if IE 8]><link rel="stylesheet" type="text/css" href="/styles/screen_ie8.css"><![endif]-->
	    	<link rel="stylesheet" type="text/css" media="print" href="/css/print.css" />
		<script src="{path="scripts/jquery"}" type="text/javascript"></script>
		<script src="{path="scripts/jquery-ui"}" type="text/javascript"></script>
		<script src="{path="scripts/main"}" type="text/javascript"></script>
	</head>