{embed='includes/xhtml' page_title="Our Services"}

{embed='includes/header'}
<div class="wrapper">
  <div class="interior-content">
    <div id="mainColumn" class="services">
      <h1>Our Services</h1>
      <h3>Bond Proceeds Investment Advisory</h3>
      <p>UCAS works with municipalities to assist them in structuring investments for their construction projects.  Our process:</p>
      <ul>
        <li>Work with the client to develop an investment cash budget for the construction project.</li>
        <li>Create a proposed investment strategy based on cash flow needs and current market conditions focusing on safety, liquidity and return. </li>
        <li>Competitively bid qualified investments utilizing financial institutions or brokers pursuant to public funds code, legal documents and/or client investment policy and see investments through to settlement.</li>
        <li>Consider IRS rebate when structuring investments.</li>
        <li>Utilize custodian to hold construction balances and settle investments.</li>
        <li>Monthly reporting of investments by custodian.</li>
        <li>Monitor balances and look for reinvestment opportunities.</li>
      </ul>
      <h3>Operating Funds Investment Advisory</h3>
      <p>UCAS works with municipalities to assist them in structuring investments for their operating funds.  Our process:</p>
      <ul>
        <li>Work with the client to identify core balances to be invested. </li>
        <li>Create a proposed investment strategy based on cash flow needs and current market conditions focusing on safety, liquidity and return.</li>
        <li>Competitively bid qualified investments utilizing financial institutions or brokers pursuant to public funds code and/or client investment policy and see investments through to settlement.</li>
        <li>Utilize local custodian to hold core balances and settle investments.</li>
        <li>Monthly reporting of investments by custodian. </li>
        <li>As investments mature, look for reinvestment opportunities.</li>
      </ul>
      <h3>Banking Request for Proposal Services</h3>
      <p>At UCAS, we believe our municipal clients should expect low fees, market interest rates, superior technology and great service from their operating bank.  From time-to-time, however, every municipality should confirm that they are, in fact, getting the best deal the market can provide by utilizing a request for proposal process. </p>
      <p>Banking has become more complicated, and with many banks to choose from, comparing services and fees can be time consuming and a drain on your resources.  Our team at UCAS has many years of banking experience and provides our municipal clients with Request for Proposal services.  Our process:</p>
      <ul>
        <li>Assist clients in preparing comprehensive bid proposal request.</li>
        <li>Review and analyze all bids received</li>
        <li>Work with our clients to determine best bid</li>
      </ul>
      <h3>Construction Fund Administration Services</h3>
      <p>Keeping track of all dollars spent on large construction projects with multiple vendors and multiple sites can be a challenge.  Our team has developed detailed worksheets to assist our clients so they can track every dollar spent and remaining on each project. Architects fees, engineering fees, change orders, interest earnings, technology, cost of issuance and all other costs are organized so you can keep track of all expenditures from beginning to end.  Our service includes:</p>
      <ul>
        <li>Monthly administration and preparation of disbursement requisitions.</li>
        <li>Monthly detailed construction reporting and budget comparison report.</li>
        <li>Reconciliation of trustee bank statements with contractor payment applications and vendor invoices.</li>
        <li>Discussions with the Client and other construction professionals regarding the project&#8217;s financial status.</li>
      </ul>
      <h3>Other services include</h3>
      <ul>
        <li>Rating Updates on Financial Institutions</li>
        <li>Review Investment Policies and Guidelines</li>
        <li>Market Outlook Newsletter</li>
      </ul>
      <div id="wide-callout">
        <h2>Cash Advisory Services</h2>
        <p>Umbaugh Cash Advisory Services, LLC was developed as an independent business entity to help create structured investment programs for our client's bond proceeds and operating funds. <br />To Learn More <a href="mailto:cas@umbaugh.com">email Cash Advisory Services</a></p>
      </div>
    </div>
    <!-- end div #mainColumn -->
    <div id="sideColumn">
    </div><!-- end DIV #sideColumn --> 
  </div>
  <!-- end div .interior-content --> 
</div>
<!-- end div #wrapper --> 
{embed='includes/footer'}