/*
 * X
 * 2010/XX/XX
 *
 * IE7 fixes
 */
* { zoom: 1; }
body { position: relative; }


.header { height:139px; }
.header div { height:115px; padding: 25px 0 0; }
.header .form-search {clear: none; position: relative; top: -60px;}
.header .menu {position: absolute; bottom: 0; left: 0; width: 100%;}
.about p { width:285px !important; }
.services p { width:370px !important; }
#mainColumn {clear: none;}
#mainColumn #callout {float: right; clear: none; width: 230px;}
#mainColumn p { width: auto;}
.alignright p.wp-caption-text {clear: left;}

#sideColumn { margin:32px 13px 0 0; }
#sideColumn ul{ margin:0; padding:0px;}
#sideColumn ul li a { margin:0; padding:0; text-indent: 0; list-style-image:url("/images/green-raquo.gif"); }

#professionals-list hr { margin:10px 30px 10px 0; }

#career-form .submit-form input { width: 230px; }
#career-form .submit-form .resume { width: 160px; }

li#li-2-5 input {filter: alpha(opacity=10); position: relative;}
li#li-2-5 input.browse {left: 152px; filter: alpha(opacity=100); padding: 3px 10px 4px;}
li#li-2-5 input.resume {width: 132px; filter: alpha(opacity=100);}
