{embed='includes/xhtml' page_title="Contact Us"}

{embed='includes/header'}

<div class="wrapper">
<div class="interior-content">
  <div id="mainColumn">
    <h1> Contact Us </h1>
    <h2>Main Phone Number: <span id="phone-number-lg"> (888) 516-9594</span></h2>
    <div class="locationColumns">
      <h2>Our Locations:</h2>
      <div class="column-one">
        <dl>
          <dt class="location-title">Indianapolis, Indiana</dt>
          <dt>Phone</dt>
          <dd>(317) 465-1500</dd>
          <dt>Fax</dt>
          <dd>(317) 465-1550</dd>
          <dt>Address</dt>
          <dd>8365 Keystone Crossing<br />
            Suite 300<br />
            Indianapolis, IN 46240</dd>
        </dl>
      </div>
      <div class="column-two">
        <dl>
          <dt class="location-title">Mishawaka, Indiana</dt>
          <dt>Phone</dt>
          <dd>(574) 935-5178</dd>
          <dt>Fax</dt>
          <dd>(574) 935-5928</dd>
          <dt>Address</dt>
          <dd>112 IronWorks Avenue<br />
            Suite C<br />
            Mishawaka, IN 46544</dd>
        </dl>
      </div>
      <div class="column-three">
        <dl>
          <dt class="location-title">Lansing, Michigan</dt>
          <dt>Phone</dt>
          <dd>(517) 321-0110</dd>
          <dt>Fax</dt>
          <dd>(517) 321-8866</dd>
          <dt>Address</dt>
          <dd>2150 Association Drive<br />
            Suite 100<br />
            Okemos, MI 48864</dd>
        </dl>
      </div>
      <div class="column-four">
        <dl>
          <dt class="location-title">Columbus, Ohio</dt>
          <dt>Phone</dt>
          <dd>(614) 985-3744</dd>
          <dt>Address</dt>
          <dd>200 East Campus View Blvd.<br />
            Suite 200<br />
            Columbus, OH 43235</dd>
        </dl>
      </div>
    </div>
    
    
    <div id="contact-form">
      <h3>Have any questions? Contact Us.</h3>
      <p>We would like to hear from you.</p>
      
        {exp:freeform:composer
            form_name="contact_us"
            admin_notify="hollowway@umbaugh.com|seever@umbaugh.com"
            admin_notification_template="contact_us_page "
        }
	</div><!-- #contact-form-->
    
    
    
    <h2><strong>Client Service Leaders Contact Information</strong></h2>


<!-- start Umbaugh People box -->

    <div class="professional-quickInfo ">
      <div class="quickInfoColumn left">
        <p><span>Doug L. Baldessari</span><br />
          (317) 465-1508<br />
          <a href="mailto:baldessari@umbaugh.com">Email</a><br /></p>
        <p><span>Robert J. Clifford</span><br />
          (317) 465-1560<br />
          <a href="mailto:clifford@umbaugh.com">Email</a><br /></p>
        <p><span>Brian C. Colton</span><br />
          (317) 465-1516<br />
          <a href="mailto:colton@umbaugh.com">Email</a><br /></p>          
        <p><span>Brian S. Cooper</span><br />
          (614) 985-3744<br />
          <a href="mailto:cooper@umbaugh.com">Email</a><br /></p>
        <p><span>Matthew R. Eckerle</span><br />
          (317) 465-1520<br />
          <a href="mailto:eckerle@umbaugh.com">Email</a><br /></p>
        <p><span>Belvia B. Gray</span><br />
          (317) 465-1523<br />
          <a href="mailto:gray@umbaugh.com">Email</a><br /></p>
      </div>

      <div class="quickInfoColumn right">
        <p><span>Daniel A. Hedden</span><br />
          (317) 465-1503<br />
          <a href="mailto:hedden@umbaugh.com">Email</a><br /></p>
        <p><span>Colette J. Irwin-Knott</span><br />
	   (Retired)<br />
          <a href="http://www.umbaugh.com/about/#irwin">Email</a><br /></p>
        <p><span>John D. Julien</span><br />
          (574) 935-5178<br />
          <a href="mailto:julien@umbaugh.com">Email</a><br /></p>
        <p><span>Gerald G. Malone</span><br />
          (317) 465-1501<br />
          <a href="mailto:malone@umbaugh.com">Email</a><br /></p>
        <p><span>Loren M. Matthes</span><br />
          (317) 465-1505<br />
          <a href="mailto:matthes@umbaugh.com">Email</a><br /></p>
        <p><span>Jeffrey A. Messer</span><br />
          (317) 465-1531<br />
          <a href="mailto:messer@umbaugh.com">Email</a><br /></p>
		</div>
        </div>


    <div class="professional-quickInfo right">
      <div class="quickInfoColumn left">
        <p><span>Scott A. Miller</span><br />
          (317) 465-1506<br />
          <a href="mailto:miller@umbaugh.com">Email</a><br /></p>
        <p><span>Jesse R. Nelson</span><br />
          (517) 321-0110<br />
          <a href="mailto:nelson@umbaugh.com">Email</a><br /></p>
        <p><span>Curt W. Pletcher</span><br />
          (574) 935-5178<br />
          <a href="mailto:pletcher@umbaugh.com">Email</a><br /></p>
        <p><span>Deen C. Rogers</span><br />
          (317) 465-1538<br />
          <a href="mailto:rogers@umbaugh.com">Email</a><br /></p>          
        <p><span>Jeffrey P. Rowe</span><br />
          (574) 935-5178<br />
          <a href="mailto:rowe@umbaugh.com">Email</a><br /></p>
        <p><span>Todd A. Samuelson</span><br />
          (574) 935-5178<br />
          <a href="mailto:samuelson@umbaugh.com">Email</a><br /></p>
      </div>
      <div class="quickInfoColumn right">
        <p><span>Paige E. Sansone</span><br />
          (317) 465-1521<br />
          <a href="mailto:sansone@umbaugh.com">Email</a><br /></p>
        <p><span>John M. Seever</span><br />
          (317) 465-1507<br />
          <a href="mailto:seever@umbaugh.com">Email</a><br /></p>          
        <p><span>Jason G. Semler</span><br />
          (317) 465-1540<br />
          <a href="mailto:semler@umbaugh.com">Email</a><br /></p>
        <p><span>Tom Traciak</span><br />
          (517) 321-0110<br />
          <a href="mailto:traciak@umbaugh.com">Email</a><br /></p>              
        <p><span>Eric J. Walsh</span><br />
          (574) 935-5178<br />
          <a href="mailto:walsh@umbaugh.com">Email</a><br /></p>                    
      </div>
    </div>
<!-- end Umbaugh People box -->

    
  </div><!-- end main column -->
  <div id="sideColumn">
    <div id="nav_menu-4" class="widget widget_nav_menu">
      <div class="menu-sidebar-menu-container">
        <ul id="menu-sidebar-menu" class="menu">
          <li id="menu-item-255" class="menu-item menu-item-type-post_type menu-item-255"><a href="http://www.umbaugh.com/about">More About Us</a></li>
          <li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-64"><a href="http://www.umbaugh.com/contact">Contact Us</a></li>
          <li id="menu-item-65" class="menu-item menu-item-type-post_type menu-item-65"><a href="http://www.umbaugh.com/join-our-firm">Join Our Firm</a></li>
        </ul>
      </div>
    </div>
      <div id="category-content" class="widget widget_categoryContent">
        <h2 class="widget-title"> Latest News </h2>
        <ul>
          {exp:channel:entries channel="news" limit="2"}
          <li> <a href="/latest-news/{url_title}">{title}</a> {exp:word_limit total="20"}{news_body}{/exp:word_limit}
            <p class="readmore"><a href="/latest-news/{url_title}">Read More &raquo;</a></p>
          </li>
          {/exp:channel:entries}
        </ul>
      </div>
    <div id="text-6" class="widget widget_text">
      <h2 class="widget-title">Here&#8217;s what others say about why they chose to work with Umbaugh:</h2>
      <div class="textwidget">
        <blockquote>
          <p>The people at Umbaugh are wonderful to work with. They come to meetings and make presentations to the public. They even make suggestions about how they can help you effectively communicate the financial picture.</p>
        </blockquote>
        <span class="author">Ken Paust,<br />
        County Commissioner,<br />
        Wayne County, Indiana</span></div>
    </div>
  </div>
</div><!-- end .interior-content -->
</div><!-- end .wrapper -->

{embed='includes/footer'}
n