{embed='includes/xhtml' page_title="Search Results"}

{embed='includes/header'}
<div class="wrapper">
  <div class="interior-content">
    <div id="mainColumn">
      <div class="wide" id="news">
        <h1>Search Results for: <span>{exp:search:keywords}{/exp:search:keywords}</span></h1>
		<p>Sorry there were no search results, please try again.</p>
	</div>
    <!-- div wide id news --> 
  </div>
  <!-- main column --> 
</div>
<!-- interior-content -->
</div>
<!-- wrapper --> 
<!--wrapper--> 

{embed='includes/footer'}