{embed='includes/xhtml' page_title=""}

{embed='includes/header'}
<div class="wrapper">
<div class="interior-content">
  <div id="mainColumn" class="services">

<h1>Economic Development</h1>
<div id="callout">
  <h2>Our Experience</h2>
  <p>Decatur County, Indiana, had the opportunity of a lifetime in 2006. All they had to do was present the winning case for why their area was the most advantageous location for a new Honda Motors automobile assembly plant. And like most economic development projects, responding quickly was essential to stay in the running.</p>
  <p><a href="/services/our-experience/winning-a-honda-plant-for-decatur-county">Read More &raquo;</a></p>
</div>
<p>
<p>Quick deadlines? We&#8217;re used to them at UMBAUGH. In the world of economic development, quickly having the right response makes the difference between securing economic development for your area and watching it go elsewhere.</p>
<p>With most local governments&#8217; tax revenues decreasing, economic development is the key to growing your tax base. But it&#8217;s not wise to say yes to every economic development opportunity that comes your way. You need to run the numbers, consider alternatives and make informed decisions about what&#8217;s right for your community to avoid overburdening your existing taxpayers or putting your investment at risk. UMBAUGH helps communities evaluate and structure economic development packages to produce long-term financial gain &#8211; not pain, using tax increment financing, tax abatement and the right balance of a variety of economic development tools.</p>
<p>UMBAUGH&#8217;s economic development services continue long after the deal is done. We provide accurate financial data and reporting so you can make informed decisions about releasing tax revenue and leveraging your investment to generate additional development.</p>
</p>
<div id="services-table">
  <h2>Our Services for Economic Development</h2>
  <p><strong>Attracting and Retaining Businesses</strong> &#8211; Your job boils down to this: How do I attract new business to our area? And how do I keep existing businesses satisfied and economically healthy? The financial package may make the live-or-die difference between businesses choosing your site or someplace else. At the same time, you have this gnawing fear about giving away too much. UMBAUGH can help you make good decisions with:</p>
  <ul class="left">
    <li>Economic Impact Analysis</li>
    <li>Tax Abatement Alternatives</li>
    <li>Tax Increment (TIF) Feasibility Studies</li>
    <li>Tax Impact Analysis</li>
  </ul>
  <ul class="right">
    <li>Assistance with the Creation of TIF Areas</li>
    <li>Developing Funding Alternatives</li>
    <li>Developing Incentive Packages</li>
    <li>Financial Presentations to Elected Officials and the Public</li>
  </ul>
  <p><strong>Bond Issuance</strong> &#8211; You don&#8217;t issue bonds every day, and you&#8217;ve got to get it right. The stakes are too high to risk a mistake or miss an opportunity to save. Since UMBAUGH is an independent advisor, our only priority is doing what&#8217;s best for the local governments we represent.  We can provide:</p>
  <ul class="left">
    <li>Official Statements and Bond Sale Preparations</li>
    <li>Presentations to Bond Ratings Agencies</li>
    <li>Evaluation of Bond Insurance Proposals</li>
    <li>Competitive Bond Sales and Electronic Bidding Services</li>
  </ul>
  <ul class="right">
    <li>Negotiated Bond Sales and Private Placements</li>
    <li>Coordination of Bond Closings</li>
    <li>Assistance to the Trustee bank</li>
  </ul>
  <p><strong>Post Issuance</strong> &#8211; Unfortunately, paperwork does not go away after the bonds are sold. You as the bond issuer have a great deal of responsibility for monitoring your TIF revenue, reporting and compliance, at a time when you&#8217;d much rather celebrate the benefits of your hard-won economic development project. UMBAUGH can take those worries off your plate as well with:</p>
  <ul class="left">
    <li>Monitoring of Tax Increment Revenues</li>
    <li>In-Progress Construction Reports</li>
    <li>Arbitrage Rebate Calculations</li>
    <li>Continuing Disclosure Filings</li>
  </ul>
  <ul class="right">
    <li>Post Issuance Tax Compliance</li>
    <li>Escrow Verifications</li>
    <li>Parity Reports</li>
  </ul>
</div>
<div class="two-col-list">
  <h3>Representative Projects</h3>
  <p>UMBAUGH has completed over a thousand bond issues ranging from $50,000 to over $500 million.</p>
  <ul class="left">
    <li>Boone County, IN - Duke Anson Development and MEDCO </li>
    <li>Bowling Green, KY - Downtown Signature Project, a public-private redevelopment project </li>
    <li>Carmel, IN - Performing Arts Center and City Center Project </li>
    <li>Decatur County, IN - Honda manufacturing facility </li>
    <li>Delaware County, IN - Magna Powertrain manufacturing facility </li>
    <li>Gibson County, IN - Toyota truck manufacturing facility </li>
  </ul>
  <ul class="right">
    <li>Jeffersonville, IN - MedVenture medical device manufacturing facility </li>
    <li>Noblesville, IN - Hamilton Town Center, an open-air, lifestyle shopping center </li>
    <li>Noblesville, IN - SMC manufacturing facility </li>
    <li>Plainfield, IN - Metropolis, an open-air, lifestyle shopping center </li>
    <li>Spencer County, IN - A.K. Steel manufacturing facility </li>
    <li>White County, IN - Wind turbines</li>
  </ul>
</div>
<div id="wide-callout">
  <h2>Cash Advisory Serivces</h2>
  <p><a href="http://cashadvisory.umbaugh.com" target="_blank">Umbaugh Cash Advisory Services, LLC</a> was developed as an independent business entity to help create<br />
    structured investment programs for our client's bond proceeds and operating funds.</p>
</div>




  </div><!-- end div #mainColumn -->
  <div id="sideColumn"> 
    <div id="nav_menu-4" class="widget widget_nav_menu">
      <div class="menu-sidebar-menu-container">
        <ul id="menu-sidebar-menu" class="menu">
          <li id="menu-item-255" class="menu-item menu-item-type-post_type menu-item-255"><a href="http://www.umbaugh.com/services">Our Services</a></li>
          <li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-64"><a href="http://www.umbaugh.com/contact">Contact Us</a></li>
          <li id="menu-item-65" class="menu-item menu-item-type-post_type menu-item-65"><a href="http://www.umbaugh.com/join-our-firm">Join Our Firm</a></li>
        </ul>
      </div>
    </div>
	<h2>Latest News goes here</h2>
			</div><!-- end DIV #sideColumn --> 
		</div><!-- end div .interior-content --> 
	</div><!-- end div #wrapper --> 
{embed='includes/footer'}