{embed='includes/xhtml' page_title=""}

{embed='includes/header'}
<div class="wrapper">
  <div class="interior-content">
    <div id="mainColumn" class="services">
      <h1>Local Governments</h1>
      <div id="callout">
        <h2>Our Experience</h2>
        <p>"Business as it used to run in the counties can no longer happen," says Ken Paust, county commissioner in Wayne County, Indiana. <br />
          He's speaking of how local governments in Indiana were affected when property tax caps began taking effect just as a general economic downturn reduced other revenue sources.</p>
        <p><a href="/services/our-experience/a-financial-road-map-for-wayne-county-in">Read More &raquo;</a></p>
      </div>
      <p>
      <p>Operating a local governmental unit always has challenges and opportunities. You may be looking for new efficiencies, projecting changes in tax revenue, finding new revenue sources, working on long-range planning, funding buildings and improvements, or structuring the most advantageous economic development package. Our years of experience in helping others in similar situations make us uniquely qualified to help you today &#8212; and with tomorrow&#8217;s challenges.</p>
      </p>
      <div id="services-table">
        <h2>Our Services for Local Government</h2>
        <p><strong>Financial Management</strong> &#8211; No one who works in local government would say that financial management is &#8220;simple.&#8221;   Your constituents never think about how time consuming your day-to-day tasks are.  Umbaugh can help you with:</p>
        <ul class="left">
          <li>Annexation and Fiscal Plans</li>
          <li>Budget Preparation Assistance</li>
          <li>Comprehensive Financial Planning</li>
          <li>User Fee Development</li>

        </ul>
        <ul class="right">
          <li>Audit Preparation</li>
          <li>CAFR Preparation</li>
          <li>Financial Reporting</li>
          <li>Tax Revenue Analysis and Management</li>
        </ul>
        <p>As you look for every <strong>cost savings and efficiency</strong>, we can also provide:</p>
        <ul class="left">
          <li>Consolidation Planning and Implementation</li>
          <li>Negotiating Inter-Governmental Agreements</li>
          <li>Performance Management Studies</li>
        </ul>
        <p>If you are considering a new accounting system, let us relieve your nightmares and worry of system selection (What if it doesn&#8217;t work?  What if we lose our data?) with:</p>
        <ul class="left">
          <li>Accounting Systems Consulting</li>
        </ul>
        <p><strong>Capital Planning</strong> &#8211; Every unit of government has projects that need to be done – and equipment that needs to be upgraded or replaced.  It&#8217;s tempting to defer projects and delay expenses, but that could catch up to you someday with a big bill – or a service failure.  We all know it&#8217;s better to plan ahead.  Umbaugh can help you with:</p>
        <ul class="left">
          <li>Debt Management Studies</li>
          <li>Project Planning and Financial Development</li>
          <li>Refinancing of Existing Debt</li>
        </ul>
        <ul class="right">
          <li>Long-Range Capital Planning and Implementation</li>
          <li>Developing and Evaluating Funding Alternatives</li>
          <li>Financial Presentations to Elected Officials and the Public</li>
        </ul>
        <p><strong>Bond Issuance</strong> &#8211; Bond issues are not something you do every day, and you&#8217;ve got to get it right. The stakes are literally too high to risk a mistake or miss an opportunity to save. Since Umbaugh is an independent advisor, our only priority is doing what&#8217;s best for the local governments we represent. We can provide:</p>
        <ul class="left">
          <li>Official Statements and Bond Sale Preparations</li>
          <li>Presentations to Bond Ratings Agencies</li>
          <li>Evaluation of Bond Insurance Proposals</li>
          <li>Competitive Bond Sales and Electronic Bidding Services</li>
        </ul>
        <ul class="right">
          <li>Negotiated Bond Sales and Private Placements</li>
          <li>Coordination of Bond Closings</li>
          <li>Assistance to the Trustee Bank</li>
        </ul>
        <p><strong>Post Issuance</strong> &#8211; Unfortunately, the paperwork does not go away after the bonds are sold.  You as the bond issuer have a great deal of responsibility for reporting and compliance, at a time when you&#8217;d much rather be paying attention to your bond-funded project.  Umbaugh can take those worries off your plate as well with:</p>
        <ul class="left">
          <li>In-Progress Construction Reports</li>
          <li>Arbitrage Rebate Calculations</li>
          <li>Continuing Disclosure Filings</li>
        </ul>
        <ul class="right">
          <li>Post Issuance Compliance</li>
          <li>Escrow Verifications</li>
          <li>Parity Reports</li>
        </ul>
      </div>
      <div class="two-col-list">
        <h3>Representative Projects</h3>
        <p>UMBAUGH has completed over a thousand bond issues ranging from $50,000 to over $500 million.</p>
        <ul class="left">
          <li>City of Greensburg, IN </li>
          <li>City of Mishawaka, IN </li>
          <li>City of Plymouth, IN </li>
          <li>City of South Bend, IN </li>
          <li>Elkhart County, IN </li>
          <li>Jasper County, IN </li>
          <li>Kosciusko County, IN </li>
        </ul>
        <ul class="right">
          <li>Marshall County, IN </li>
          <li>Ovid Township, MI </li>
          <li>Starke County, IN </li>
          <li>Wayne County, IN </li>
          <li>White County, IN </li>
          <li>Whitley County, IN</li>
        </ul>
      </div>
      <div id="wide-callout">
        <h2>Cash Advisory Serivces</h2>
        <p><a href="http://cashadvisory.umbaugh.com" target="_blank">Umbaugh Cash Advisory Services, LLC</a> was developed as an independent business entity to help create<br />
          structured investment programs for our client's bond proceeds and operating funds.</p>
      </div>
    </div>
    <!-- end div #mainColumn -->
    
    <div id="sideColumn"> {embed='includes/servicesContactJoin'} 
      
      <!-- dotted seperator included in above widget div tag --> 
      
      {embed='includes/latest-news'} </div>
    <!-- end DIV #sideColumn --> 
    
  </div>
  <!-- end div .interior-content --> 
</div>
<!-- end div #wrapper --> 
{embed='includes/footer'}