{embed='includes/xhtml' page_title=""}

{embed='includes/header'}
<div class="wrapper">
  <div class="interior-content">
    <div id="mainColumn" class="services">
      <h1>Schools</h1>
      <div id="callout">
        <h2>Our Experience</h2>
        <p>Indianapolis Public Schools embarked on a plan in 2001 to improve its school buildings in what has become the largest school construction program in the state of Indiana. Umbaugh has advised the district throughout the process for a total of $693 million in bond issues.</p>
        <p><a href="/services/our-experience/umbaugh-advises-indianapolis-public-schools-on-indianas-largest-school-cons">Read More &raquo;</a></p>
      </div>
      <p>
      <p>At UMBAUGH, we don&#8217;t represent both sides of the table. We represent you as a school district. Our independence from the bond underwriting assures you of the greatest objectivity in analyzing, determining and planning &#8211; whether that&#8217;s for capital improvements or operating funds.</p>
      <p>We quickly respond to your needs. At public hearings, we calmly, accurately and professionally answer all the financial questions your constituents &#8211; and your board &#8211; will have.</p>
      </p>
      <div id="services-table">
        <h2>Our Services for Schools</h2>
        <p><strong>Financial Management</strong> &#8211; As a school superintendent or business manager, you create and manage a budget so complex it could perplex a Fortune 500 CEO. Every day, you deal with multiple funding streams from federal, state and local governments, grants and other revenue sources, each with its own set of reporting requirements. Let UMBAUGH ease the strain with:</p>
        <ul class="left">
          <li>Accounting Systems Design, Implementation and Training</li>
          <li>Analytical Cost Studies</li>
          <li>Audit Preparation and Financial Reporting</li>
          <li>Budget Preparation and Assistance</li>
        </ul>
        <ul class="right">
          <li>Comprehensive Financial Planning</li>
          <li>GASB 34 Compliance</li>
          <li>Performance Management Studies</li>
          <li>Tax Revenue Analysis and Management</li>
        </ul>
        <p><strong>Capital Planning</strong> &#8211; Facilities are always a challenge. If your enrollment&#8217;s growing, you need more. If your buildings are old, you need to modernize for technology, replace infrastructure and save energy. And, oh yes, you need the support of your constitents to make that happen, which requires a clear financial plan. UMBAUGH can help you with:</p>
        <ul class="left">
          <li>Debt Management Studies</li>
          <li>Long-Range Capital Planning and Implementation</li>
          <li>Project Planning and Financial Development</li>
          <li>Developing and Evaluating Funding Alternatives</li>
        </ul>
        <ul class="right">
          <li>Refinancing Existing Debt</li>
          <li>Referendum Preparation</li>
          <li>Financial Presentations to Elected Officials and the Public</li>
        </ul>
        <p><strong>Bond Issuance</strong> &#8211; You don&#8217;t issue bonds every day, but they are getting more common as schools meet facility needs and raise revenue for operating costs.  Either way, you&#8217;ve got to get it right. The stakes are too high to risk a mistake or miss an opportunity to save. Since UMBAUGH is an independent advisor, our only priority is doing what&#8217;s best for the local governments we represent. We can provide:</p>
        <ul class="left">
          <li>Official Statements and Bond Sale Preparations</li>
          <li>Presentations to Bond Ratings Agencies</li>
          <li>Evaluation of Bond Insurance Proposals</li>
          <li>Competitive Bond Sales and Electronic Bidding Services</li>
        </ul>
        <ul class="right">
          <li>Negotiated Bond Sales and Private Placements</li>
          <li>Coordination of Bond Closings</li>
          <li>Assistance to the Trustee bank</li>
        </ul>
        <p><strong>Post Issuance</strong> &#8211; Unfortunately, paperwork does not go away after the bonds are sold. You as the bond issuer have a great deal of responsibility for reporting and compliance, at a time when you&#8217;d much rather pay attention to your bond-funded project. UMBAUGH can take those worries off your plate as well with:</p>
        <ul class="left">
          <li>In-Progress Construction Reports</li>
          <li>Arbitrage Rebate Calculations</li>
          <li>Continuing Disclosure Filings</li>
        </ul>
        <ul class="right">
          <li>Post Issuance Tax Compliance</li>
          <li>Escrow Verifications</li>
          <li>Parity Reports</li>
        </ul>
      </div>
      <div class="two-col-list">
        <h3>Representative Projects</h3>
        <p>UMBAUGH has completed over a thousand bond issues ranging from $50,000 to over $500 million.</p>
        <ul class="left">
          <li>Allen Park Public Schools, Allen Park, MI </li>
          <li>Bay City Public Schools, Bay City, MI </li>
          <li>Brighton Area Schools, Brighton, MI </li>
          <li>Carrollton Public School, Carrollton, MI </li>
          <li>Cass City Public Schools, Cass City, MI </li>
          <li>Concord Community Schools, Elkhart, IN </li>
          <li>Duneland School Corporation, Chesterton, IN </li>
          <li>Greenfield - Central Community Schools, Greenfield, IN </li>
          <li>Indianapolis Public Schools, Indianapolis, IN </li>
          <li>Kalamazoo Regional Educational Services Agency (RESA), Kalamazoo, MI </li>
          <li>Kent ISD (regional educational service agency), Grand Rapids, MI </li>
          <li>Michigan Schools Investment Association (MSIA), Lansing, MI </li>
          <li>Milan Community Schools, Milan, IN </li>
        </ul>
        <ul class="right">
          <li>North Gibson School Corporation, Princeton, IN </li>
          <li>Otsego Public Schools, Otsego, MI </li>
          <li>Oxford Community Schools, Oxford, MI </li>
          <li>Paw Paw Public Schools, Paw Paw, MI </li>
          <li>Portage Public Schools, Portage, MI </li>
          <li>Rochester Community Schools, Rochester, MI </li>
          <li>South Gibson School Corporation, Fort Branch, IN </li>
          <li>St. Johns Public Schools, St. Johns, MI </li>
          <li>Tell City - Troy Township School Corporation, Tell City, IN </li>
          <li>Valparaiso Community Schools, Valparaiso, IN </li>
          <li>Vincennes Community School Corporation, Vincennes, IN </li>
          <li>Warrick County School Corporation, Boonville, IN</li>
        </ul>
      </div>
      <div id="wide-callout">
        <h2>Cash Advisory Serivces</h2>
        <p><a href="http://cashadvisory.umbaugh.com" target="_blank">Umbaugh Cash Advisory Services, LLC</a> was developed as an independent business entity to help create<br />
          structured investment programs for our client's bond proceeds and operating funds.</p>
      </div>
    </div>
    <!-- end div #mainColumn -->
    <div id="sideColumn">
        {embed='includes/servicesContactJoin'}
    
        <!-- dotted seperator included in above widget div tag -->
    
        {embed='includes/latest-news'}
    
    </div>
    <!-- end DIV #sideColumn --> 
  </div>
  <!-- end div .interior-content --> 
</div>
<!-- end div #wrapper --> 
{embed='includes/footer'}