{embed='includes/xhtml' page_title=""}

{embed='includes/header'}
<div class="wrapper">
  <div class="interior-content">
    <div id="mainColumn" class="services">
      <h1>Utilities</h1>
      <div id="callout">
        <h2>Our Experience</h2>
        <p>The City of Mishawaka's municipally owned sewage works is working to make a nearly 60-year-old wastewater treatment facility meet federal guidelines of the Clean Water Act.  Umbaugh analyzed various cost scenarios as the utility negotiated with the U.S. Environmental Protection Agency (EPA), the U.S. Department of Justice and the Indiana Department of Environmental Management (IDEM) to find a workable solution.</p>
        <p><a href="/services/our-experience/mishawaka-sewage-works-finding-a-solution-that-works-environmentally-and-fi">Read More &raquo;</a></p>
      </div>
      <p>
      <p>Governmental units are constantly seeking new, better and more cost-effective solutions to the demand for energy and other services. UMBAUGH takes a comprehensive approach that begins with constructing a customized financial plan for your utility. We then effectively and clearly communicate the financial plan to help you get the necessary support to make your plan successful.</p>
      </p>
      <div id="services-table">
        <h2>Our Services for Utilities</h2>
        <p>If only it were as simple as turning on a faucet and letting an endless supply of resources flow to customers. But your job as the utility owner gets more difficult every day. Constantly increasing quality standards, new federal mandates and regulatory compliance are just the beginning. When times are good, you must plan ahead to serve more customers to support economic development.  But when customers are closing their doors, you must reduce operations and budgets &#8211; and balance good service with rates your customers can afford.</p>
        <p><strong>Financial Management</strong> – UMBAUGH can make your day-to-day financial management easier with:</p>
        <ul class="left">
          <li>Accounting Systems Design, Implementation and Training</li>
          <li>Audit Preparation and Financial Reporting</li>
          <li>Financial Planning and Budget Assistance</li>
          <li>Financial Feasibility Studies</li>
          <li>Financial Management Reports</li>
          <li>GASB 34 Compliance</li>
          <li>Litigation Support Services/Expert Testimony</li>
        </ul>
        <ul class="right">
          <li>Negotiating Inter-Governmental Agreements</li>
          <li>Performance Management Studies</li>
          <li>Privatization Analysis</li>
          <li>Studies of Impact and Fairness in Utility Wholesale Charges</li>
          <li>Studies Relating to Purchase of Private Utilities by Municipalities</li>
          <li>Utility Flow-Through Systems Analysis, Fuel Cost Charges and Tracking</li>
          <li>Utility Rate Studies and Cost-of-Service Analysis</li>
        </ul>
        <p><strong>Capital Planning</strong> &#8211; Utilities are capital-intensive. Like most municipal utilities, you may have aging infrastructure and equipment, need to grow and improve services or need to comply with ever-changing federal and state mandates. You need to find the resources to make those things happen.  UMBAUGH can help you with:</p>
        <ul class="left">
          <li>Long-Range Capital Planning</li>
          <li>Project Planning and Financial Development</li>
          <li>Developing and Evaluating Funding Alternatives</li>
          <li>Projects Financed by Federal Grants and Loans</li>
        </ul>
        <ul class="right">
          <li>Capital Investment Funding Through System Development Charges</li>
          <li>Refinancing Existing Debt</li>
          <li>Financial Presentations to Elected Officials and the Public</li>
        </ul>
        <p><strong>Bond Issuance</strong> &#8211; Your don&#8217;t issue bonds every day, and you&#8217;ve got to get it right. The stakes are too high to risk a mistake or miss an opportunity to save. Since UMBAUGH is an independent advisor, our only priority is doing what&#8217;s best for the municipal and cooperatively -owned utilities we represent. We can provide:</p>
        <ul class="left">
          <li>Official Statements and Bond Sale Preparations</li>
          <li>Presentations to Bond Ratings Agencies</li>
          <li>Evaluation of Bond Insurance Proposals</li>
          <li>Competitive Bond Sales and Electronic Bidding Services</li>
        </ul>
        <ul class="right">
          <li>Negotiated Bond Sales and Private Placements</li>
          <li>Coordination of Bond Closings</li>
          <li>Assistance to the Trustee bank</li>
        </ul>
        <p><strong>Post Issuance</strong> &#8211; Unfortunately, paperwork does not go away after the bonds are sold. You as the bond issuer have a great deal of responsibility for reporting and compliance, at a time when you&#8217;d much rather pay attention to your bond-funded project. UMBAUGH can take those worries off your plate as well with:</p>
        <ul class="left">
          <li>In-Progress Construction Reports</li>
          <li>Arbitrage Rebate Calculations</li>
          <li>Continuing Disclosure Filings</li>
        </ul>
        <ul class="right">
          <li>Post Issuance Tax Compliance</li>
          <li>Escrow Verifications</li>
          <li>Parity Reports</li>
        </ul>
      </div>
      <div class="two-col-list">
        <h3>Representative Projects</h3>
        <p>UMBAUGH has completed over a thousand bond issues ranging from $50,000 to over $500 million.</p>
        <ul class="left">
          <li>Brownsburg Municipal Water Utility </li>
          <li>City of Rensselaer Utilities </li>
          <li>Evansville Water and Sewer Utility </li>
          <li>Goshen Municipal Water Utility </li>
          <li>Jasper Municipal Electric Utility </li>
        </ul>
        <ul class="right">
          <li>Mishawaka Utilities </li>
          <li>Noblesville Municipal Sewage Works </li>
          <li>Plainfield Municipal Sewage Works </li>
          <li>Princeton Municipal Sewage Works </li>
          <li>Warsaw Municipal Sewage Works</li>
        </ul>
      </div>
      <div id="wide-callout">
        <h2>Cash Advisory Serivces</h2>
        <p><a href="http://cashadvisory.umbaugh.com" target="_blank">Umbaugh Cash Advisory Services, LLC</a> was developed as an independent business entity to help create<br />
          structured investment programs for our client's bond proceeds and operating funds.</p>
      </div>
    </div>
    <!-- end div #mainColumn -->
    <div id="sideColumn">
        {embed='includes/servicesContactJoin'}
    
        <!-- dotted seperator included in above widget div tag -->
    
        {embed='includes/latest-news'}
    
    </div>
    <!-- end DIV #sideColumn --> 
  </div>
  <!-- end div .interior-content --> 
</div>
<!-- end div #wrapper --> 
{embed='includes/footer'}